@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Roboto&display=swap');

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
