* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;

  position: relative;
  margin: auto;
  img {
    width: 100%;
    height: 70rem;
    object-fit: cover;
  }
}

.bullets {
  position: relative;
  top: 7.5rem;
  text-align: center;
}

.mySlides.none {
  display: none;
}

.mySlides.block {
  display: block;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 35rem;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #713434;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  border: 1px solid #713434;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  bottom: 5rem;
}

.active,
.dot:hover {
  background-color: #713434;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*TEXTBOX*/

.textbox {
  transition: 0.4s;
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  color: white;
  animation-duration: 1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  opacity: 0;
  h1,
  p {
    margin: 0;
  }

  .button {
    width: 20rem;
    padding: 2rem;
    margin: 2rem;
  }
}

.textbox.center {
  align-items: center;
  animation-name: textbox-center;
}
.textbox.bottom-left {
  align-items: flex-start;
  animation-name: textbox-bottom-left;
}

.textbox.top-right {
  align-items: flex-end;
  margin-right: 5rem;
  animation-name: textbox-top-right;
}

@keyframes textbox-center {
  0% {
    top: 50%;
    left: 25%;
    right: 25%;
  }
  100% {
    top: 25%;
    left: 25%;
    right: 25%;
  }
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes textbox-bottom-left {
  0% {
    top: 25%;
    left: 10%;
  }
  100% {
    top: 60%;
    left: 10%;
  }
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes textbox-top-right {
  0% {
    top: 25%;
    right: 5%;
  }
  100% {
    top: 5%;
    right: 5%;
  }
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .slideshow-container {
    img {
      height: 40rem;
    }
    .prev,
    .next {
      top: 20rem;
    }

    .textbox {
      position: relative;
      color: black;
    }

    .textbox.center {
      animation-name: textbox;
      align-items: center;
      margin: auto;
    }
    .textbox.bottom-left {
      animation-name: textbox;
      align-items: center;
      margin: auto;
    }

    .textbox.top-right {
      animation-name: textbox;
      align-items: center;
      margin: auto;
    }
  }

  @keyframes textbox {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
